{% extends 'base.html' %}
{% block title %}Purchases{% endblock %}
{% block content %}
    <div class="list">
    <h2>Purchases</h2>
    {% for purchase in page_obj %}
        <div>
            <span>Product: {{ purchase }} {{ purchase.product.description }}</span>
            <span>In stock: {{ purchase.available }}</span>
            <span>Total amount: {{ purchase.total }} UAH</span>
            {% if user.is_superuser %}
                <span>Purchase ID: {{ purchase.id }}</span>
                <span>Client: {{ purchase.client }}</span>
            {% else %}
                {% if not purchase.returnpurchase %}
                <form action="{% url 'return_add' purchase.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="return" type="submit" ><span>Return</span></button>
                </form>
                    {% else %}
                    <h3>Issued return!</h3>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}